@import 'colors';

.background {
  background-image: url('../images/giphy.gif');
  background-position: center 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

.messages {

  li {
    list-style: none;

    .message {
      border-radius: 6px;
      opacity: 0.8;
      display: block;
      color: white;
      font-size: 1.25em;
      width: 30%;
      text-align: left;
      overflow-y: scroll;
    }

    &:nth-child(odd) .message {
      background-color: #333333;
      margin: 0 0 0 -5em;
      padding: 1em 2em 1em 4em;
      float: left;
      clear: both;
    }

    &:nth-child(even) .message {
      background-color: #f16462;
      margin: 0 -3em 0 0;
      padding: 1em 4em 1em 2em;
      float: right;
      clear: both;
    }

    .timestamp {
      color: white;
      width: 25%;
      opacity: 0.9;
      padding-top: 1em;
    }

    &:nth-child(odd) .timestamp {
      text-align: right;
      float: left;
      clear: both;
      padding-right: 2em;
    }

    &:nth-child(even) .timestamp {
      float: right;
      clear: both;
    }

  }
}

#message-bay {
  display: block;
  width: 100%;
  bottom: 0;
  background: white;
  padding: 1em;
  min-height: 200px;
  position: fixed;
}

.message-container {
  width: 80%;
  float: left;
  font-size: 1.25em;
  padding-top: 1em;
}

.message-button {
  font-size: 1.5em;
  padding: 1em;
  width: 15%;
  float: right;
}

/*
.center {
  width: 100vw;
  height: 100vh;

  background: shade($primary, 0.6);

  @include position(fixed);

  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
}

*/
